body, html {
    margin: 0;
    padding: 0;
}

.parent{
    /* green */
    margin: 5px;
    height: 935px;
    width: 1910px;
    position: relative;
    font-family: "Comic sans MS";
    z-index: 2;
}

.child-Title{
    /* blue */
    background-color: blue;
    margin-top: 75px;
    height: 250px;
    width: 1910px;
    position: absolute;
    clip-path: inset(0px 0px 0px 0px);
    overflow: hidden;
    z-index: 1;
}

.child-Header{
    /* black*/
    height: 50px;
    width: 1906px;
    position: absolute;
    margin-top: 325px;
    border: 2px solid black;
    text-align: center;
    z-index: 2;
    }

.child-Logo {
    /* orange */
    height: 125px;
    width: 125px;
    position: absolute;
    margin-top: 440px;
    z-index: 3;
}

.nav{
    position: absolute;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
    }

.child-LinkHome{
    /* yellow */
    background-color: green;
    height: 30px;
    width: 90px;
    position: absolute;
    margin-top: 50px;
    margin-left: 1450px;
    padding-top: 5px;
    box-shadow: 10px 5px 5px black;
    color: white;
    z-index: 2;
}

.child-LinkAbout{
    /* red */
    background-color: darkblue;
    height: 30px;
    width: 90px;
    position: absolute;
    margin-top: 50px;
    margin-left: 1600px;
    padding-top: 5px;
    box-shadow: 10px 5px 5px black;
    color: white;
    z-index: 2;
}

.child-LinkContact{
    /* cyan */
    background-color: darkblue;
    height: 30px;
    width: 90px;
    position: absolute;
    margin-top: 50px;
    margin-left: 1750px;
    padding-top: 5px;
    box-shadow: 10px 5px 5px black;
    color: white;
    z-index: 2;
}

.child-Article{
    /* purple */
    height: 495px;
    width: 1400px;
    position: absolute;
    margin-top: 375px;
    margin-left: 215px;
    z-index: 2;
    padding-top: 50px;
}

a{
    color: white;
}

h1{
    display: inline;
    font-size: 64px;
    font-style: italic;
}

#Title {
    position: absolute;
    margin-left: 15px;
    margin-top: -15px;
    z-index: 2;
}

img {
    width: 100%;
    height: auto;
}

h2{
    margin: -5px;
    margin-top: 8px;
}

.Header{
    text-align: center;
}

h3{
    margin-left: 100px;
    margin-bottom: -16px;
    font-style: italic;
}

p{
    margin: -16px;
    margin-left: 135px;
    margin-top: 15px;
    margin-bottom: 85px;
    font-weight: bold;
}

h5{
    margin-left: 160px;
    font-size: 16px;
}

h6 {
    margin-left: 160px;
    font-size: 16px;
}

.TitleArticle{
    font-size: 32px;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 1px;
}

h4{
    display: block;
    margin-top: -4px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 25px;
}

/* Applies to the Registration form */
.Form-container{
    
}